.brand .n-logo {
    opacity: 0.5;
    transition: opacity 1s;
}

.brand .n-logo:hover{
    opacity: 1;
}

.navbar-brand {
    width: 30px;
    height: 30px;
    background-image: url("../img/JF.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    border-radius: 50%;
}

.fall:hover {
    animation-name: swing, fadeOutDownBig;
    animation-duration: 1.5s, 1s;
    animation-delay: 0s, 1.5s;
}