.brand .n-logo {
    opacity: 0.5;
}

.navbar-brand {
    width: 30px;
    height: 30px;
    background-image: url("../img/JF.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    border-radius: 50%;
}