.brand .n-logo {
    opacity: 0.5;
    transition: opacity 1s;
}

.brand .n-logo:hover{
    opacity: 1;
}

.navbar-brand {
    width: 30px;
    height: 30px;
    background-image: url("../img/JF.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    border-radius: 50%;
}

.fall:hover {
    display: inline-block;
    animation-name: swing, fadeOutDownBig;
    animation-duration: 1.5s, 1s;
    animation-delay: 0s, 1.5s;
}

.clear-filter[filter-color="orange"] {
    background: rgba(44, 44, 44, 0.2);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(0, 0, 0, 0.6));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(0, 0, 0, 0.6));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(0, 0, 0, 0.6));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(0, 0, 0, 0.6));
    /* Standard syntax */
}